$primaryColor: #11539C;
$complementaryColor: #E3AE4F;
$secondaryColor: #5F9FE8;
$textColor: #FFFFFF;
$textTwoColor: #FEFEFE;
$baseColor: #1d1a1a;
$backgroundColor: #121212;
$hoverColor: #333333;