@use 'colors';
.footer {

  text-align: center;

  margin-top: 65px;

  padding: 10px;

  border-top: 1px solid rgba(colors.$baseColor, 0.5);

  .icons {
    display: flex;
    justify-content: center;

    .image {
      margin: 0 10px;
      filter: invert(1)
    }

    :hover{
      cursor: pointer;
    }
  }

  h2 {
    margin: 7px;
  }

  p {
    margin: 7px;
  }
}