@use 'colors';
@import url('https://fonts.googleapis.com/css?family=Nunito');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  background-color: colors.$backgroundColor;
  color: colors.$textColor;
}

.container {
  background-color: colors.$baseColor;
  margin: 0 10% 0;
}

.round {
  border-radius: 100%;
}

.text-primary-color {
  color: colors.$primaryColor;
}