@use 'colors';
@import url('https://fonts.googleapis.com/css?family=Nunito');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  background-color: colors.$backgroundColor;
  color: colors.$textColor;
}

button {
  font-family: 'Nunito';
  font-size: 18px;
  color: colors.$textColor;
}

h1 {
  font-size: 3rem;
}

.flexbox-space-around {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 5rem;
  margin: 0.625rem;
  height: auto;
}

p {
  font-size: 16px;
}

.padding-06rem {
  padding: 0.6rem;
}

.container {
  background-color: colors.$baseColor;
  margin: 0 10% 0;
}

.round {
  border-radius: 100%;
}

.text-primary-color {
  color: colors.$primaryColor;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.margin-04rem {
  margin: 0.4rem;
}
