@use 'colors';
@import url('https://fonts.googleapis.com/css?family=Nunito');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  background-color: colors.$colorBackground;
  color: colors.$colorText;
}

.container {
  background-color: colors.$colorBase;
  margin: 0 10% 0;
}